*{
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    box-sizing: border-box;

}
html{
   font-size: 50%;
  
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #48d1cc;
    /* width:100vw;
    height: 100vh;*/
}
li{
    text-decoration: none;
}
label{
    cursor: pointer;
}
.main
{ 
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    align-content:center;
    justify-content: center;
   /* */
   /* background-color: bisque;          */
    
}
.inner
{ 
    /* border: solid black; */
    width:70rem;
    background-color:#ffe4c4 ;
    padding: 3rem 8rem;
    border-radius: 5rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0,0,0,0.4);
    box-shadow:0 1.5rem 1rem rgba(0,0,1.5);
    /* box shadow horizontal vertical shadow spread color */
    
    
}
.inner h2{
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 1rem 0 4rem 0;
    display: flex;
    justify-content: center;
}
.inner h1{
    font-size: 4.5rem;
    font-weight: 400;
    margin-top: 1rem 0 4rem 0;
    display: flex;
    justify-content: center;
}
.inner li{
    font-size: 3rem;
    font-weight: 150;
    margin-top: 1.5rem;
    list-style: none;
    padding: 1.2rem;
}


#submit, .btn
{
    padding: 1rem 3rem;
    font-size: 2rem;
    display:block;
    margin: auto;
    border:none; 
    border-radius: 10px;
    color: #fff;
    margin-top: 1px;
    background-color:#48d1cc; 
    
    
}
#submit:hover{
    background-color: #b22222;
}
.btn:hover{
    background-color:#b22222;
    cursor: pointer;

}
input{
    cursor: pointer;
}
li:hover{
    background-color: rgb(219, 204, 120);
}

#result
{
    background-color:lightsalmon; 
    margin-top: 3rem; 
    padding: 2rem 3rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(184, 142, 142, 0.4);

    
}
.resultarea
{
     display:none ; 
}